body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
   
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}
img{
    width: 100%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.name-color{
    color: #E54B4B;
}
.button-color{
    text-decoration: none;
    background-image: linear-gradient(45deg,blue,cyan);
    padding: 10px 30px;
    border-radius: 5px;
    color:white;
    font-weight: 500;
    font-size: 13px;
}
#latest-color{
    color:#F46060;
    font-size: 30px;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.third-sec-h2{
    font-size: 30px;
    text-align: center;
}
.working-area{
    width: 75%;
    margin-top: 3%;
    margin-left: 14%;
    background-color: #d0d1d3;
}
.working-area123{
    background-color: white;
    width: 27%;
    margin-left: 2%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 50px #e9e3e3;
    float: left;
}
.inquary-bg{
    width: 100%;
    height: 50%;
}
.inquary-div{
    position: absolute;
    width: 60%;
    margin-left: 20%;
    
}
.inquary-title{
    position: absolute;
    bottom: 35px;
    left: 45px;
    color: white;
    font-size: 35px;
}
.inquary-btn{
    position: absolute;
    bottom: 70px;
    right: 50px;
    text-decoration: none;
    background-image: linear-gradient(180deg,tomato,lightSalmon);
    padding: 10px 30px;
    border-radius: 5px;
    color:white;
    font-weight: 500;
    font-size: 13px;
}
.contact{
    margin: -15% 30%;
}
.form-control{
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    
    font-size: 18px;
    margin-bottom: 16px;
    
}
input{
    height: 45px;
}
#form-control-submit{
    background-color:#534FD5;
    font-size: 15px;
    border: none;
    outline: none;
    width: 250px;
    text-align: center;
    margin-left: 28%;
    border-radius: 10px;
    color: white;

}
.contact-title{
    text-align: center;
    color: rgb(214, 1, 1);
    font-weight: 800;
}
.contactP{
    text-align: center;
}